# =========================
# Node / npm
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# =========================
# Build / coverage
# =========================
build/
dist/
coverage/

# =========================
# Env files (NE JAMAIS COMMIT)
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# (Optionnel) si tu utilises d'autres env
.env.development
.env.production
.env.test

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# CRA / cache
# =========================
.cache/
.sass-cache/

# =========================
# Misc
# =========================
*.tmp
*.swp

